@model Tienda.ViewModels.tsbproductoModel

@if (Model.Mensaje == null)
{
    <h1>@Model.Mensaje</h1>

}
else
{
    <p> @Model.Result</p>
    <br/>
    <p> @Model.Request</p>
    <br />
<p>@Model.Mensaje</p>
}
