@model IEnumerable<Tienda.Models.Producto>
@{
    ViewBag.Title = "Sostel";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}


<div class="about" id="about">
    <div class="container">
        <span class="about-top-w3">Quienes Somos?</span>
        <h4 class="title-w3ls">Acerca de Sostel</h4>
        <h5 class="sub">Sociedad de Comercio y Telecomunicaciones Limitada</h5>
        <p class="para-w3-agile">Sostel es una empresa formada por años de arduo esfuerzo en el área de telecomunicaciones, su objetivo es entregar un buen servicio, garantizar seguridad y satisfacción del cliente, la empresa se preocupa de entregar un buen servicio además de un buen producto. </p>
        @*<p class="para-w3-agile">Phasellus facilisis, est et tempus aliquet, odio purus pretium felis, sit amet imperdiet tortor ex vel purus.Nulla mattis venenatis rutrum. Nunc molestie elit tellus, id iaculis lectus feugiat id. </p>*@
        <div class="skills-bar">
        </div>
    </div>
</div>
<!-- projects -->
<div class="services" id="services">
    <div class="container">
        <span class="about-top-w3">Servicios</span>
        <h4 class="title-w3ls">Nuestros Servicios</h4>
        <div class="news-bottom">
            <div class="news-one-wthree-agile">
                <div class="col-md-6 news-left">
                    <div class="biseller-column">
                        <img src="~/Content/ImagenesPortal/Seguridad1.png" />
                    </div>
                </div>
                <div class="col-md-6 news-right" style="height:310px;">
                    <a href="#one"><h4>Venta de Artefactos de Seguridad</h4></a>
                    <p class="para-w3-agile">Nuestros servicio de venta ofrece una amplia gama de prouctos pensados para su seguridad, entre nuestros productos se encuentran radiostransmisores y camaras de seguridad.</p>

                </div>
                <div class="clearfix"> </div>
            </div>
            <br />
            <br />
            <div class="news-one-wthree-agile">
                <div class="col-md-6 news-right">
                    <a href="#three"><h4>Arriendo de Artefactos de Seguridad</h4></a>
                    <p class="para-w3-agile">Tambien ofrecemos servicio de arriendo de nuestros productos de seguridad, ofreciendo asi un servicio mas comodo para usted.</p>
                    <br /><br /><br /><br />
                </div>
                <div class="col-md-6 news-left">
                    <div class="biseller-column">
                        <img src="~/Content/ImagenesPortal/seguridad2.jpg" />
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="skills-bar">
        </div>
    </div>
</div>

<div class="contact" id="contact">
    <div class="container">
        <span class="about-top-w3">Envianos tus consultas</span>
        <h4 class="title-w3ls">Contacto</h4>

        <div class="col-md-5 contact-agileits-w3layouts">
            @using (Html.BeginForm("Guardar", "Inicio", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="text" name="nombre" id="nombre" placeholder="Nombre" required="" />
                <input type="email" name="correo" id="correo" placeholder="Correo" required="" />
                <input type="text" Name="telefono" id="telefono" placeholder="Telefono" required="" />
                <textarea name="mensaje" placeholder="Mensaje" id="mensaje" required=""></textarea>
                <div class="g-recaptcha"
                     data-sitekey="6LdASDwUAAAAALdYLstcuZ3w9Eq64kMKLUTgkm_N"></div>
                <input type="submit" value="Enviar" />
            }                            
           <p><span>@ViewBag.Message</span></p>
            <h5 class="sub">Información</h5>
            <p><span>Dirección</span> : 24 1/2 Ote ; 20 1/2  Norte  3321, Talca.</p>
            <p><span>Telefono</span> : +569 95987821</p>
            <p><span>Correo</span>: <a href="mailto:contacto@sostel.cl"> Enviar Correo</a></p>
        </div>

        <div class="col-md-7 contact-map-right">
            <div id="map"></div>
            <!-- Map-JavaScript -->
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCttA4my5OIwTBH0LVHojB_QK-PAGpdefA"></script>
            <script type="text/javascript">
                google.maps.event.addDomListener(window, 'load', init);
                function init() {
                    var mapOptions = {
                        zoom: 16,
                        center: new google.maps.LatLng(-35.4125007, -71.6221871),
                        styles: [{ "featureType": "all", "elementType": "labels.text.fill", "stylers": [{ "saturation": 36 }, { "color": "#000000" }, { "lightness": 40 }] }, { "featureType": "all", "elementType": "labels.text.stroke", "stylers": [{ "visibility": "on" }, { "color": "#000000" }, { "lightness": 16 }] }, { "featureType": "all", "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] }, { "featureType": "administrative", "elementType": "geometry.fill", "stylers": [{ "color": "#000000" }, { "lightness": 20 }] }, { "featureType": "administrative", "elementType": "geometry.stroke", "stylers": [{ "color": "#000000" }, { "lightness": 17 }, { "weight": 1.2 }] }, { "featureType": "landscape", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 20 }] }, { "featureType": "poi", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 21 }] }, { "featureType": "road.highway", "elementType": "geometry.fill", "stylers": [{ "color": "#000000" }, { "lightness": 17 }] }, { "featureType": "road.highway", "elementType": "geometry.stroke", "stylers": [{ "color": "#000000" }, { "lightness": 29 }, { "weight": 0.2 }] }, { "featureType": "road.arterial", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 18 }] }, { "featureType": "road.local", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 16 }] }, { "featureType": "transit", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 19 }] }, { "featureType": "water", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 17 }] }]
                    };
                    var mapElement = document.getElementById('map');
                    var map = new google.maps.Map(mapElement, mapOptions);
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(-35.4125007, -71.6221871),
                        map: map,
                    });
                }
            </script>
            <!-- //Map-JavaScript -->
        </div>
    </div>
</div>



