@{
    @ViewBag.Title
}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <br />
            <br />
            <br/>
            <h4 class="page-header">@ViewBag.Title</h4>
            <br />
            <h3>@ViewBag.Description</h3>
    </div>
        </div>

</div>



